{"port":"\/dev\/ttyUSB0","freq":"430.1500","offset":0,"squelch":"1","ctcss":"67.0,67.0","tail":"close","volume":"7","fEmph":"disable","fLow":"disable","fHigh":"enable","txctcss":"67.0","rxctcss":"67.0","bw":"1","txfreq":"430.1500","rxfreq":"430.1500"}
