<?php
    include_once __DIR__."/basedir.php"; 
// do not report any php errors in apache log
error_reporting(0);
// Button keys define for dashboard: description button, DTMF command or command, color of button
//
// syntax: 'KEY number,'Description','DTMF code','color button'.
// should be synched with svxlink.conf, for ease of use
//
define("KEY1", array(' TG262 ','91262#','green'));
define("KEY2", array(' TG26269 ','9126269#','green'));
define("KEY3", array(' TG777 ','91777#','green'));
define("KEY4", array(' Disconnect ','910#','red'));
define("KEY5", array(' Metar ','5#','blue','auth'));
define("KEY6", array(' D6 ','*D6#','purple'));
define("KEY7", array(' D7 ','*D7#','purple'));
define("KEY8", array(' D8 ','*D8#','blue'));
define("KEY9", array(' D9 ','*D9#','blue'));
define("KEY10", array(' D10 ','*D10#','red'));
define("DTMF", "auth");

// things that normally should not be changed
// Path and file name of confguration
define("SVXCONFPATH", "/etc/svxlink/");
define("SVXCONFIG", "svxlink.conf");
//
// Path and file name of log
define("SVXLOGPATH", "/var/log/");
define("SVXLOGPREFIX", "svxlink");
//
define("MODULEPATH", "/etc/svxlink/svxlink.d/");
define("ECHOLINKCONFIG", "ModuleEchoLink.conf");
define("METARINFO", "ModuleMetarInfo.conf");
define("TclVoiceMail", "no");
// Orange Pi Zero LTS version requires CPU_TEMP_OFFSET value 30 
// to display CPU TEMPERATURE correctly
define("CPU_TEMP_OFFSET","0");
//
// Define where is located menu wit buttons TOP or BOTTOM
define("MENUBUTTON", "BOTTOM");
//
// Define if the complete Top Menu is shown without authorization or only the Links where information are provided
//define("MENUTOP", "FULL");
//define("MENUTOP", "INFO");
// Define if the authorization Button is shown in the Top Menu without authorization or not (gives a bit more security)
define("MENUTOPAUTH", "yes");
//define("MENUTOPAUTH", "no");
//
// Set SHOWPTT to TRUE if you want use microphone connected
// to sound card and use buttons on dashboard PTT ON & PTT OFF
// Set SHOWPTT to FALSE to disable display PTT buttons
// In most cases you can switch to FALSE
define("SHOWPTT","FALSE");
//
define("DL3EL_EXPERT", "no");
//define("DL3EL_EXPERT", "yes");
define("DL3EL_NOAUTH", "no");
//define("DL3EL_NOAUTH", "yes");
// ssh most likely will ot work on Android devices as clients
define("DL3EL_SSH", "no");
//define("DL3EL_SSH", "yes");
// must be a number, must not be a string
define("DL3EL_SPEC_TG", 99);
define("DL3EL_RADIO", "Shari");
//define("DL3EL_RADIO", "RFGuru");
// examples, will be shown in Status and in APRS Beacon
//define("DL3EL_RADIO", "no Radio");
//define("DL3EL_RADIO", "SC (no Radio)");
//define("DL3EL_RADIO", "VX7");
//define("DL3EL_RADIO", "145.600MHz");
//define("DL3EL_RADIO", "SC (no Radio, 145.750MHz)");
define("DL3EL_VERSION", "public");
//define("DL3EL_VERSION", "develop");
// show splitcsreen with live_db when running on a desktop, it will never be shown on a mobile device
define("DL3EL_LIVEDB_AUTO", "yes");
//define("DL3EL_LIVEDB_AUTO", "no");
// good colours are green, silver and blue. There is no colour check :-)
define("SVXMQTT_COLOR_active", "green");
define("SVXMQTT_COLOR_passive", "blue");
//define("DL3EL_DXCLUSTER", "yes");
define("DL3EL_DXCLUSTER", "no");
define("DL3EL_DXCLUSTER_CONT", "EU");
//define("DL3EL_OPENWEBRX", "https://websdr.z-05.de/#freq=144800000,mod=empty,secondary_mod=packet,sql=-150");
// if you are unable to configure the system with *only* one soundcard for svxlink, the index to the card could be different after a reboot
// setting DL3EL_SC_CHANGE to "yes" enables the dashboard to select the correct soundcard and restart svxlink on the first run after reboot.
define("DL3EL_SC_CHANGE", "no");
// this string has to match the name of the card in the linux system
define("DL3EL_SC_STRING", "Audio Device");
// show only one IP in system-window, if there are lots of
//define("DL3EL_SHOW_ONLY_ONE_IP", "yes");
//define("DL3EL_SHOW_ONLY_ONE_IP", "no");
// Time for cleanup cron job. Once a day (86400s) is sufficient
define("DL3EL_CRON_TIMER", 86400);
// show when next crontab run is planned
define("DL3EL_SHOW_NEXT_RUN", "no");
// allow update "git pull" via this dashboard (can be found in the power menu, if enabled
// therefore for the command "git" had to be added in the file "www-data.sudoers", to activate this command, the script "upd_sudoer" has to be executed (as root)
define("DL3EL_GIT_UPDATE", "yes");
// enable APRS Feature, if yes
define("DL3EL_APRS_MSG", "no");
//
define("DL3EL_REF1_BUTTON", "TG9 & 777");
define("DL3EL_REF2_BUTTON", "TG9 & 262");
define("DL3EL_REF3_BUTTON", "Ref3");
define("DL3EL_REF4_BUTTON", "Ref4");
// if set, provide call detail from FM-Funknetz and not from qrz.com
define("DL3EL_LH_DETAIL", "FMN");
// the rest of the more static variables and constants
include_once DL3EL_BASE ."include/config.inc.php";
?>
