<?php
//Access to the Webserver for editing the config files
define("PHP_AUTH_USER", "svxlink");
define("PHP_AUTH_PW", "password");

// header lines for information
define("FULLACCESS_OUTSIDE", 0);
define("ADD_BUTTONS", 1);
///Variables for the webpages
define("LOGIC_CORE_PATH", "");
define("TIMESTAMP_FORMAT", "");
define("TYPE", "");
define("RX", "");
define("TX", "");
define("MODULES", "");
define("CTCSS_TO_TG", "");
//define("CTCSS_TO_TG_DELAY", "");
define("DNS_DOMAIN", "");
define("DEFAULT_TG", "");
define("MONITOR_TGS", "");
define("TIMEOUT", "");
define("HOST", "");
define("AUDIO_DEV", "");
define("PEAK_METER", "");
define("PORT", "");
//define("CENTER_FQ", "");
//define("FQ_CORR", "");
define("GAIN", "");
define("FREQUENCY", "");
define("PATH", "");
//define("BEACON_INTERVAL", "");
define("TONE", "");
define("COMMENT", "");
define('AUTHORISED', 'AUTHORISED');
define('UNAUTHORISED', 'UNAUTHORISED');
define("CALLSIGN","null");
define("LOGICS","null");
define("REPORT_CTCSS","null");
define("DTMF_CTRL_PTY","null");
define("API","null");
define("FMNET","null");
define("TG_URI","null");
define("NODE_INFO_FILE","/etc/svxlink/node_info.json");
define("RF_MODULE","null");
define("QTH","null");
define("FREQ","null");
define("LOCATION","null");
define("LINKS","null");
define("DEFAULT_LANG","inReflectorDefaultLang");
define("HOSTS","null");

$svxConfigFile = SVXCONFPATH . SVXCONFIG;
if (fopen($svxConfigFile,'r')) { 
    $svxconfig = parse_ini_file($svxConfigFile,true,INI_SCANNER_RAW);
	if (isset($svxconfig['ReflectorLogic'])) {
		$section = 'ReflectorLogic';
	} else {
		$section = 'SimplexLogic';
	}	 
    $callsign = isset($svxconfig[$section]['CALLSIGN']) ? $svxconfig[$section]['CALLSIGN'] : 'NOCALL';
    $refApi = isset($svxconfig[$section]['API']) ? $svxconfig[$section]['API'] : '';
    $qth = isset($svxconfig['LocationInfo']['QTH']) ? $svxconfig['LocationInfo']['QTH'] : '';
    $freq = isset($svxconfig['Rx1']['FREQ']) ? $svxconfig['Rx1']['FREQ'] : '';
    $EL_node = isset($svxconfig['LocationInfo']['LOCATION']) ? $svxconfig['LocationInfo']['LOCATION'] : '';
    $node_password = isset($svxconfig[$section]['AUTH_KEY']) ? $svxconfig[$section]['AUTH_KEY'] : '';
    $node_user = $callsign;
    $file = isset($svxconfig['File_Description']['FILE']) ? $svxconfig['File_Description']['FILE'] : 'no';     
    if ($file === "dmr_only") {
        $fmnetwork = "Digital Modes only";
    } else {
        $fmnetwork = isset($svxconfig[$section]['HOSTS']) ? $svxconfig[$section]['HOSTS'] : $fmnetwork =$svxconfig[$section]['DNS_DOMAIN'];
    }
} else { 
     $callsign="NOCALL";
     $fmnetwork="not registered";
     $EL_node = "unknown";
}
define("FMNETWORK", $fmnetwork);
